.sessionDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
  justify-items: center;
  width: 100%;
}

.sessionDiv h1 {
    color: rgba(0, 0, 0, 0.372);
    font-weight: bolder;
}

.input {
    border: 5px;
    border-style: solid;
    height: 50px;
    width: 80%;
    text-align: center;
    font-size: x-large;
    font-weight: bolder;
    margin: 0;
}

.formDiv{
    margin: 10px;
}

.buttonHolder{
    display: flex;
    justify-content: center;
}

.buttonHolder button {
    margin: 10px;
}

button {
    padding: 0.5rem 1rem;
  cursor: pointer;
  transition: border-color 0.25s;
    min-width: 7rem;
    font-weight: bold;
    border-radius: 0;
    border: 5px;
    border-style: solid;
    background-color: black;
}

button:hover{
    color: black;
    border-color: black;
    background-color: white;
}

.buttonClicked {
    color: black;
    border-color: black;
    background-color: white;

}
